html {
  scroll-behavior: smooth;
}

.row {
    margin: 1em;
}

.col {
    margin: 1em;
}

legend {
    margin: 1em 0em;
    padding: 1em;
    background-color: #ADD8E6;
}

#location {
    padding: 1em;
}

form {
    padding: 2em;
    border: 1px;
    border-style: inset;
    margin: 1em;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    opacity: .4;
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    opacity: 1;
    outline: 2px solid #f00;
}

.first {
    width: 100%;
    height: 1000px;
    background: #ccc;
}

.second {
    width: 100%;
    height: 1000px;
    background: #999;
}
