body {
	font-family: 'Open Sans', sans-serif;
	background-image: url("../image/weather/rainy_sky.jpg");
	background-repeat: repeat-x;
	background-size: 15% 18%;
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
}

#main_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	". logotext ."
	"buttons weather ."
	". title . "
}

#logo_text {
	grid-area: logotext;
	justify-self: center;
	margin-top: 1em;
}

#degrees_buttons {
	grid-area: buttons;
	justify-self: end;
	margin-top: 2em;
	margin-right: 2em;
}

.deg_button {
	font-size: 15pt;
	width: 45px;
	height: 45px;
	margin-bottom: 1em;
}

#weather {
	grid-area: weather;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"degrees . location"
	"type . date";
	margin-top: 1em;
}

#degrees {
	grid-area: degrees;
	align-self: center;
	margin-bottom: 4em;
}

#location {
	grid-area: location;
	align-self: center;
	justify-self: end;
	margin-bottom: 4em;
}

#type {
	grid-area: type;
}

#date {
	grid-area: date;
	justify-self: end;
}

#title {
	grid-area: title;
	justify-self: center;
	margin-top: 1em;
}

#clothes_grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"ulabel"
	"uresult"
	"llabel"
	"lresult"
	"flabel"
	"fresult"
}

#upper_label {
	grid-area: ulabel;
	justify-self: center;
	margin: 1em;
	text-decoration: underline;
}

#lower_label {
	grid-area: llabel;
	justify-self: center;
	margin: 1em;
	text-decoration: underline;
}

#foot_label {
	grid-area: flabel;
	justify-self: center;
	margin: 1em;
	text-decoration: underline;
}

#upper_result {
	grid-area: uresult;
	justify-self: center;
	margin-bottom: 1em;
}

#lower_result {
	grid-area: lresult;
	justify-self: center;
	margin-bottom: 1em;
}

#foot_result {
	grid-area: fresult;
	justify-self: center;
	margin-bottom: 1em;
}

.result_photo {
	width: 250px;
	height: 250px;
}