h1, h2, h3, h4, h5 {
    text-align: center;
}

header {
    border-bottom: solid;
    margin: 1em;
}

.right {
    margin: 1em;
    float: right;
}

.left {
    margin: 1em;
    float: left;
}

.center {
    margin: 1em;
    text-align: center;
}

.clear {
    margin: 1em;
    clear:both;
}

#location {
    width: 100%;
    height: 2em;
}

.switch_field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 40px;
	overflow: hidden;
}

.switch_title {
  margin-bottom: 6px;
}

.switch_field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: auto;
}

.switch_field label {
  float: left;
}

.switch_field label {
  width: 120px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-align: center;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch_field label:hover {
	cursor: pointer;
}

.switch_field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch_field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch_field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
