h1, h2, h3, h4, h5, .switch_field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    text-align: center;
}

header {
    border-bottom: solid;
    margin: 1em;
}

.center {
    margin: 1em;
    text-align: center;
}

.clear {
    clear: both;
}

#location {
    /* Box Model */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    border: 1px solid;
    width: 100%;
    height: 2em;
}

.switch_title {
    font-size: 24px;
    margin-bottom: 1em;
}

.switch_field input {
    /* Position */
    position: absolute; /* Places the radio button with the label */

    /* Clipping */
    clip: rect(0, 0, 0, 0); /* Removes the radio button */
}

.switch_field label {
    /* Display */
    display: inline-block;

    /* Box Model */
    margin-right: -8px; /* Gets rid of the white space between elements */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 25%;
    padding: 10px 10px;

    /* Background */
    background-color: #e4e4e4;

    /* Typography */
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.switch_field label:hover {
    cursor: pointer;
}

.switch_field input:checked + label {
    background-color: #A5DC86;
}

/* Media Queries */

@media screen and (max-width:700px) {
    .switch_field label {
        font-size: 12px;
    }
}

@media screen and (max-width:400px) {
    .switch_field label {
        width: 22%;
        font-size: 8px;
    }
}
