h1, h2, h3, h4, h5, .switch_field {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    text-align: center;
}

header {
    border-bottom: solid;
    margin: 1em;
}

.center {
    margin: 1em;
    text-align: center;
}

.clear {
    clear: both;
}

#location {
    width: 100%;
    height: 2em;
}

.switch_title {
    font-size: 24px;
    margin-bottom: 1em;
}

.switch_field {

}

.switch_field input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.switch_field label {
    width: 25%;
    display: inline-block;
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    text-align: center;
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.switch_field label:hover {
    cursor: pointer;
}

.switch_field input:checked + label {
    background-color: #A5DC86;
}

@media screen and (max-width:700px) {

    .switch_field label {
        font-size: 12px;
    }
}

@media screen and (max-width:400px) {

    .switch_field label {
        width: 22%;
        font-size: 8px;
    }
}
