#title {
	text-align: center;
	color: #FFA500;
}

#outfit_form {
	text-align: center;
}

#submit {
	margin: 50px;
}

[type='radio'] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.option img {
	width: 100px;
	height: 100px;
	cursor: pointer;
	margin: 0 50px;
}

[type='radio']:checked + .upper {
	outline: 5px solid #FF0000;
}

[type='radio']:checked + .lower {
	outline: 5px solid #0000FF;
}

[type='radio']:checked + .foot {
	outline: 5px solid #00FF00;
}

#upper_label {
 	color: #FF0000;
}

#lower_label {
	color: #0000FF;
}

#foot_label {
	color: #00FF00;
}